body
{
	background: #E0FBFC;
	color: black;
	font-family: verdana;
}

.jumbotron
{
	background-color: #98C1D9; 
}

.jumbotron h1, .jumbotron p
{
	font-family: 'Oswald', sans-serif;
	margin-top: 1em;
}

.jumbotron p
{
	font-size: 1.2em;
}

.navbar
{
	background-color: #EE6C4D;
}

a
{
	color: #3D5A80;
	font-weight: bold;
}

a:hover
{
	color: black;
}

.dropdown-menu > li > a:hover 
{
    background-color: #E0FBFC;
    background-image: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus
{
	color: black;
}

.dropdown-menu > li > a
{
	color: black;
}

.navbar-default .navbar-nav > li > a
{
	color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a
{
	color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover
{
	color: black;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a
{
	background-color: #e7e7e7;
	color: black;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover
{
	background-color: #e7e7e7;
}

.carousel-inner > .item > img
{
	width: 100%;
    margin: 0 auto;
}

.project-image
{
	width: 10%;
}

.info-container
{
	font-size: 1.8em;
}

.row
{
	padding-bottom: 3vw;
}

.desc-header
{
	font-size: 1.8em;
	text-decoration: underline;
	font-weight: bold;
}

.desc-info, .contrib-list
{
	font-size: 1.5em;
}

.dropdown-menu
{
	background-color: #EE6C4D;
}

.glyphicon, .glyphicon-chevron-right{
   color: ##EE6C4D;
}

@media only screen and (max-width: 1700px) 
{
	.info-container
	{
		font-size: 1.6em;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 1285px) 
{
	.info-container
	{
		font-size: 1.1em;
		margin: 0 auto;
	}

	.desc-header
	{
		font-size: 1.1em;
	}

	.desc-info, .contrib-list
	{
		font-size: 1em;
	}
}

@media only screen and (max-width: 924px) 
{
	.info-container
	{
		display: block;
	}
}
@media only screen and (max-width: 766px) 
{
	.info-container
	{
		border-bottom: 3px solid black;
	}
}