:root {
    --bg-color: white;
    --jumbo-color: #5B2333;
    --nav-color: #0D1F2D;
    --hover-color: #61707D;
    --heading-text-color: white;
    --text-color: black;
    --link-color: #1b64ac;
}

body {
    background-color: var(--bg-color);
    padding-top: 50px;
}

#projects {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    color: var(--text-color);
}

.jumbotron {
    background-color: var(--jumbo-color);
}

embed {
    width: 100%;
    height: 40vh;
}
.jumbotron h1,
.jumbotron p {
    font-family: 'Vollkorn', serif;
    margin-top: .6em;
    color: var(--heading-text-color);
}

.jumbotron h1 {
    font-size: 3em
}

.jumbotron p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.dropdown-menu {
    background-color: var(--nav-color);
    border-color: black;
    border-top: 0px
}

.navbar {
    background-color: var(--nav-color);
    font-family: 'Vollkorn', serif;
    font-size: 1em;
}

a {
    color: var(--link-color);
    font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border: 0px;
}

.navbar-default .navbar-toggle:focus {
    background-color: var(--nav-color);
}

.navbar-default .navbar-toggle:hover {
    background-color: var(--hover-color);
}

a:visited {
    color: #96C;
}

a:hover, a:focus {
    color: #06C;
    
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:visited {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: var(--hover-color);
}

.navbar-default .navbar-nav>.active>a {
    background-color: #617088;
    color: white;
}

.navbar-default .navbar-nav>.active>a:hover {
    background-color: var(--hover-color);
    color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: white;
}

.dropdown-toggle .active .open {
    background-color: var(--hover-color);
    color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a {
    background-color: var(--hover-color);
    color: white;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-top: 0px;
}

.navbar-fixed-top {
    border: 0px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: var(--hover-color);
    color: white;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: var(--hover-color);
    color: white;
}

.carousel-inner>.item>img {
    width: 100%;
    margin: 0 auto;
    
}

.project-image {
    width: 10%;
}

.info-container {
    font-size: 1.8em;
}

.row {
    padding-bottom: 1vw;
}

.desc-header {
    font-size: 1.8em;
    text-decoration: underline;
    font-weight: bold;
}

.desc-info,
.contrib-list {
    font-size: 1.5em;
}

.glyphicon,
.glyphicon-chevron-right {
    color: var(--jumbo-color);
}

@media only screen and (max-width: 1700px) {
    .info-container {
        font-size: 1.6em;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1285px) {
    .info-container {
        font-size: 1.1em;
        margin: 0 auto;
    }
    .desc-header {
        font-size: 1.1em;
    }
    .desc-info,
    .contrib-list {
        font-size: 1em;
    }
}

@media only screen and (max-width: 924px) {
    .info-container {
        display: block;
    }
    
    .col-sm-3 {
        padding-bottom: 1em;
    }
}

.modal-header {
    background-color: var(--jumbo-color);
    color: var(--heading-text-color);
}

.modal-title {
    color: var(--heading-text-color);
}


.close {
    opacity: .6;
    color: white;
    font-size: 30px;
    font-weight: 100;
    line-height: .5;
    
}

.side-info {
    margin-bottom: 1%;
    text-align: left;
}

.img-row {
    padding-bottom: 1%;
}

.side {
    border: solid;
    border-color: var(--jumbo-color);
}
img {
    border: solid;
    border-color: var(--jumbo-color);
}

#textBox {
    margin-top: 3%;
    margin-left: 5%;
    border: solid;
    border-width: 2px;
    border-color: var(--jumbo-color);
    width: 90%;
    max-height: 30vh;
    overflow: auto;
}

#desc {
    padding-top: 3%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: justify;
}
.carouselInner {
    border: solid;
    border-color: var(--jumbo-color);
}

.tooltip-inner {
    max-width: 350px;
}